.btn {
  font-size: 2rem;
  padding: 0.5em 1em;
  color: hotpink;
  border: 5px solid hotpink;
  background-color: pink;

  /* transition 순서 */
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease;
}

.btn:hover {
  transform: translateY(10px);
  background-color: hotpink;
  color: #fff;
}
